.PetTable {
  border-collapse: collapse;

  & > thead {
    background-color: #0000002c;
  }

  & > tbody {
    & > tr {
      cursor: pointer;

      &:hover {
        background-color: #0000000f;
      }
    }
  }

  & td,
  & th {
    border: 1px solid #00000030;
    padding: 0.5rem;
  }

  & th {
    &:nth-child(1) {
      width: 15rem;
    }
    &:nth-child(2) {
      width: 15rem;
    }
    &:nth-child(3) {
      width: 5rem;
    }
  }

  & td {
    word-break: break-all;
  }
}
